<h1 align= center> Taller 1: Modelos de Regresión para la Predicción de Demanda de Bicicletas Compartidas</h1>

### Integrantes

- Axel Mondaca
- Sebastían Hernández

<h4 align = center> Importación de librerias <h4>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.metrics import mean_squared_error, r2_score
from prettytable import PrettyTable

In [20]:
df = pd.read_csv ('bike_sharing_data.csv')
df

       instant      dteday  season  yr  ...  windspeed  casual  registered  cnt
0            1  2011-01-01       1   0  ...     0.0000       3          13   16
1            2  2011-01-01       1   0  ...     0.0000       8          32   40
2            3  2011-01-01       1   0  ...     0.0000       5          27   32
3            4  2011-01-01       1   0  ...     0.0000       3          10   13
4            5  2011-01-01       1   0  ...     0.0000       0           1    1
...        ...         ...     ...  ..  ...        ...     ...         ...  ...
17374    17375  2012-12-31       1   1  ...     0.1642      11         108  119
17375    17376  2012-12-31       1   1  ...     0.1642       8          81   89
17376    17377  2012-12-31       1   1  ...     0.1642       7          83   90
17377    17378  2012-12-31       1   1  ...     0.1343      13          48   61
17378    17379  2012-12-31       1   1  ...     0.1343      12          37   49

[17379 rows x 17 columns]

<h2 align = center> Ingeniería de características y exploración </h2>

Apartado de división de de datos y extracción de características temporales

In [33]:
df['day'] = df['dteday'].str.split('-').str[2].astype(int)

train = df[df['day'] <=14].copy()
val = df[df['day'] >= 15 & (df['day'] <= 21)].copy()
test = df[df['day'] >= 22].copy()

df['year'] = df['dteday'].str.split('-').str[0].astype(int)
df['is_weekend'] = df['weekday'].isin([5, 6]).astype(int)
df['is_rush_hour'] = df['hr'].isin([7, 8, 9, 17, 18, 19]).astype(int)
df['hour_category'] = pd.cut(df['hr'], 
                            bins=[0, 6, 12, 18, 24],
                            labels=[1, 2, 3, 4], right=False)
df

for d in [train, val, test]:
    d.sort_values('dteday', inplace=True)
    d.reset_index(drop=True, inplace=True)

print("Sizes:", len(train), len(val), len(test))
display(train.describe(include='all'))

Sizes: 8026 17379 5345

             instant      dteday  ...  is_rush_hour  hour_category
count    8026.000000        8026  ...   8026.000000         8026.0
unique           NaN         336  ...           NaN            4.0
top              NaN  2012-12-14  ...           NaN            2.0
freq             NaN          24  ...           NaN         2016.0
mean     8471.238973         NaN  ...      0.251184            NaN
std      5028.466131         NaN  ...      0.433721            NaN
min         1.000000         NaN  ...      0.000000            NaN
25%      4269.250000         NaN  ...      0.000000            NaN
50%      8657.500000         NaN  ...      0.000000            NaN
75%     13011.750000         NaN  ...      1.000000            NaN
max     16973.000000         NaN  ...      1.000000            NaN

[11 rows x 22 columns]

<h4 align= center> Variable objetivo: Count </h4>